USE [master]
GO
/****** Object:  Database [M&M_MAIN]    Script Date: 12/09/2021 15:57:59 ******/
CREATE DATABASE [M&M_MAIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'M&M_MAIN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\M&M_MAIN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'M&M_MAIN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\M&M_MAIN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [M&M_MAIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [M&M_MAIN]
GO
/****** Object:  User [MiDemo]    Script Date: 12/09/2021 15:57:59 ******/
CREATE USER [MiDemo] FOR LOGIN [MiDemo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tb_cliente]    Script Date: 12/09/2021 15:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cliente](
	[int_id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[vc_codigo] [nvarchar](20) NULL,
	[vc_dni] [nvarchar](12) NULL,
	[vc_nombres] [nvarchar](50) NULL,
	[vc_apellidos] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_medio_pago]    Script Date: 12/09/2021 15:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_medio_pago](
	[int_id_medio_pago] [int] IDENTITY(1,1) NOT NULL,
	[int_codigo] [int] NULL,
	[vc_nombre] [varchar](50) NULL,
	[vc_descripcion] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_producto]    Script Date: 12/09/2021 15:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_producto](
	[int_id_producto] [int] IDENTITY(1,1) NOT NULL,
	[vc_codigo] [nvarchar](20) NOT NULL,
	[vc_nombre] [nvarchar](20) NOT NULL,
	[vc_descripcion] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
